.circle-1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  height: 100%;
  background: #ff00fb;
  background: radial-gradient(
    circle,
    rgba(255, 0, 251, 0.23) 0%,
    rgba(255, 0, 251, 0.13) 25%,
    rgba(255, 0, 251, 0.03) 50%,
    rgba(255, 0, 251, 0) 75%,
    rgba(230, 0, 226, 0) 100%
  );
}
