:root {
  --size: 200px;
  --white: #fff;
  --blue: #3051f1;
  --purple: #c92bb7;
  --red: #f73344;
  --orange: #fa8e37;
  --yellow: #fcdf8f;
  --yellow-to: #fbd377;
}

.menu ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.menu ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #7908e1;
  transition: width 0.3s ease-in-out;
}

.menu ul a:hover::after {
  width: 100%;
}

.gradient-instagram {
  background: radial-gradient(
      circle farthest-corner at 28% 100%,
      var(--yellow) 0%,
      var(--yellow-to) 10%,
      var(--orange) 22%,
      var(--red) 35%,
      transparent 65%
    ),
    linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
  background-clip: text; /* Aplica o recorte do fundo ao texto */
  -webkit-text-fill-color: transparent; /* Torna o texto transparente para exibir o fundo */
  color: transparent; /* Fallback para navegadores que não suportam background-clip */
}
